﻿@model Tipsi.Models.Marker


<script>
        document.body.className = "page-subpage page-item-detail";
</script>

<!-- Page Canvas-->
<div id="page-canvas">
    <!--Off Canvas Navigation-->
    @*<nav class="off-canvas-navigation">
        <header>Navigation</header>
        <div class="main-navigation navigation-off-canvas"></div>ViewBag.UserID
    </nav>*@
    <!--end Off Canvas Navigation-->
    <!--Sub Header-->
    <section class="sub-header">
        <div class="search-bar horizontal collapse" id="redefine-search-form"></div>
        <!-- /.search-bar -->
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="redefine-search">
                    <a href="#redefine-search-form" class="inner" data-toggle="collapse" aria-expanded="false" aria-controls="redefine-search-form">
                        <span class="icon"></span>
                        <span>Redefine Search</span>
                    </a>
                </div>
                <ol class="breadcrumb">
                    <li><a href="index-directory.html"><i class="fa fa-home"></i></a></li>
                    <li><a href="#">Page</a></li>
                    <li class="active">Detail</li>
                </ol>
                <!-- /.breadcrumb-->
            </div>
            <!-- /.container-->
        </div>
        <!-- /.breadcrumb-wrapper-->
    </section>
    <!--end Sub Header-->
    <!--Page Content-->
    <div id="page-content">

        <div id="map-detail"></div>
        <section class="container">
            <div class="row">
                <!--Item Detail Content-->
                <div class="col-md-9">
                    <section class="block" id="main-content">
                        <header class="page-title">
                            <div class="title">
                                <h1>@Model.title</h1>
                                <figure>@Model.location</figure>
                            </div>
                            <div class="info">
                                <div class="type">
                                    <i><img src="/@Model.type_icon" alt=""></i>
                                    <span>@Model.category</span>
                                </div>
                            </div>
                        </header>
                        <div class="row">
                            <!--Detail Sidebar-->
                            <aside class="col-md-4 col-sm-4" id="detail-sidebar">
                                <!--Contact-->
                                <section>
                                    <header><h3>Contact</h3></header>
                                    <address>
                                        <div>@Model.location</div>                                        
                                        <figure>
                                            <div class="info">
                                                <i class="fa fa-mobile"></i>
                                                <span>@Model.mobile_number</span>
                                            </div>
                                            <div class="info">
                                                <i class="fa fa-phone"></i>
                                                <span>@Model.phone_number</span>
                                            </div>
                                            <div class="info">
                                                <i class="fa fa-globe"></i>
                                                <a href="#">@Model.website</a>
                                            </div>
                                        </figure>
                                    </address>
                                </section>
                                <!--end Contact-->
                                <!--Rating-->
                                <section class="clearfix">
                                    <header class="pull-left"><a href="#reviews" class="roll"><h3>Rating</h3></a></header>
                                    <figure class="rating big pull-right" data-rating="4"></figure>
                                </section>
                                <!--end Rating-->
                                <!--Events-->
                                @*<section>
                                    <header><h3>Events</h3></header>
                                    <figure>
                                        <div class="expandable-content collapsed show-60" id="detail-sidebar-event">
                                            <div class="content">
                                                <p>
                                                    Maecenas purus sapien, pellentesque non consectetur eu, rhoncus in mauris.
                                                    Duis et nisl metus. Sed ut pulvinar mauris, bibendum ullamcorper ex.
                                                    Aliquam vitae ante diam. Nam eu blandit odio. Cras erat lorem, iaculis eu nulla eu, sodales aliquam eros.
                                                </p>
                                            </div>
                                        </div>
                                        <a href="#" class="show-more expand-content" data-expand="#detail-sidebar-event">Show More</a>
                                    </figure>
                                </section>*@
                                <!--end Events-->
                                <!--Contact Form-->
                                <section>
                                    <header><h3>Formularz Kontaktowy</h3></header>
                                    <figure>
                                        <form id="form_password" class="form_password" role="form" method="post">



                                            @if (Request.IsAuthenticated)
                                            {
                                                <div class="form-group">
                                                    <label for="item-detail-name">Imie</label>
                                                    <input type="text" class="form-control framed" id="name_form" name="item-detail-name" required="" value="@ViewBag.MyName" placeholder="@ViewBag.MyName" readonly>
                                                </div>
                                            <!-- /.form-group -->
                                                <div class="form-group">
                                                    <label for="item-detail-email">Email</label>
                                                    <input type="email" class="form-control framed" id="email_form" name="item-detail-email" required="" value="@ViewBag.MyEmail" placeholder="@ViewBag.MyEmail" readonly>
                                                </div>
                                                
                                            }
                                            else
                                            {
                                                <div class="form-group">
                                                    <label for="item-detail-name">Imie</label>
                                                    <input type="text" class="form-control framed" id="name_form" name="item-detail-name" required="">
                                                </div>
                                            <!-- /.form-group -->
                                                <div class="form-group">
                                                    <label for="item-detail-email">Email</label>
                                                    <input type="email" class="form-control framed" id="email_form" name="item-detail-email" required="">
                                                </div>

                                            }
                                            
                                            <!-- /.form-group -->
                                            <div class="form-group">
                                                <label for="item-detail-message">Wiadomość</label>
                                                <textarea class="form-control framed" id="message_form" name="item-detail-message" rows="3" required=""></textarea>
                                            </div>
                                            <!-- /.form-group -->
                                            <div class="form-group">
                                                <button type="submit" class="btn framed icon">Wyślij<i class="fa fa-angle-right"></i></button>
                                                <p style="color: green" class="sentMessaged_info"></p>
                                            </div>
                                            <!-- /.form-group -->
                                        </form>
                                    </figure>
                                </section>

                                <!--end Contact Form-->
                            </aside>
                            <!--end Detail Sidebar-->
                            <!--Content-->
                            <div class="col-md-8 col-sm-8">
                                <section>
                                    <article class="item-gallery">
                                        <div class="owl-carousel item-slider">
                                            @{
                                                if (Model.list_gallery != null)
                                                {
                                                    var i = 1;
                                                    foreach (var item in @Model.list_gallery)
                                                    {

                                                        <div class="slide"><img src="@item.Path" data-hash="@i" alt=""></div>
                                                        i++;
                                                    }
                                                }
                                            }
                                        </div>
                                        <!-- /.item-slider -->
                                        <div class="thumbnails">
                                            <span class="expand-content btn framed icon" data-expand="#gallery-thumbnails">Więcej<i class="fa fa-plus"></i></span>
                                            <div class="expandable-content height collapsed show-70" id="gallery-thumbnails">
                                                <div class="content">
                                                    @{
                                                        if (Model.list_gallery != null)
                                                        {
                                                            var i = 1;
                                                            foreach (var item in @Model.list_gallery)
                                                            {
                                                                <a href="#@i" id="thumbnail-@i"><img src="@item.Path" alt=""></a>
                                                                i++;
                                                            }
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <!-- /.item-gallery -->
                                    @{
                                        if (!(string.IsNullOrEmpty(@Model.pleaceDescription)))
                                        {
                                            <article class="block">
                                                <header><h2>Opis</h2></header>
                                                <p>
                                                    @Model.pleaceDescription
                                                </p>
                                            </article>
                                        }
                                    }

                                    <!-- /.block -->
                                    <article class="block">
                                        <header><h2>Wykonywane usługi</h2></header>
                                        <ul class="bullets">
                                            @{
                                                if (@Model.features.Henna)
                                                {
                                            <li>Henna</li>}
                                                if (@Model.features.Masaz)
                                                {
                                            <li>Masaz</li>}
                                                if (@Model.features.Paznokcie)
                                                {
                                            <li>Paznokcie</li>}
                                                if (@Model.features.Piling)
                                                {
                                            <li>Paznokcie</li>}
                                             }
                                        </ul>
                                    </article>
                                    <!-- /.block -->
                                    <article class="block">
                                        <header><h2>Godziny Otwarcia</h2></header>
                                        <dl class="lines">
                                            @{
                                                if (!(@Model.open_hours.isSelectedMon))
                                                {
                                        <dt>Poniedziałek</dt>
                                        <dd>@Model.open_hours.mondayFrom - @Model.open_hours.mondayTo</dd>
                                                }
                                                else
                                                {
                                        <dt>Poniedziałek</dt>
                                        <dd>Nieczynne</dd>
                                                }
                                                if (!(@Model.open_hours.isSelectedTue))
                                                {
                                        <dt>Wtorek</dt>
                                        <dd>@Model.open_hours.tuesdayFrom - @Model.open_hours.tuesdayTo</dd>
                                                }
                                                else
                                                {
                                        <dt>Wtorek</dt>
                                        <dd>Nieczynne</dd>
                                                }
                                                if (!(@Model.open_hours.isSelectedWed))
                                                {
                                        <dt>Środa</dt>
                                        <dd>@Model.open_hours.wednesdayFrom - @Model.open_hours.wednesdayTo</dd>
                                                }
                                                else
                                                {
                                        <dt>Środa</dt>
                                        <dd>Nieczynne</dd>
                                                }
                                                if (!(@Model.open_hours.isSelectedThu))
                                                {
                                        <dt>Czwartek</dt>
                                        <dd>@Model.open_hours.thursdayFrom - @Model.open_hours.thursdayTo</dd>
                                                }
                                                else
                                                {
                                        <dt>Czwartek</dt>
                                        <dd>Nieczynne</dd>
                                                }
                                                if (!(@Model.open_hours.isSelectedFri))
                                                {
                                        <dt>Piątek</dt>
                                        <dd>@Model.open_hours.fridayFrom - @Model.open_hours.fridayto</dd>
                                                }
                                                else
                                                {
                                        <dt>Piątek</dt>
                                        <dd>Nieczynne</dd>
                                                }
                                                if (!(@Model.open_hours.isSelectedSat))
                                                {
                                        <dt>Sobota</dt>
                                        <dd>@Model.open_hours.saturdayFrom - @Model.open_hours.saturdayTo</dd>
                                                }
                                                else
                                                {
                                        <dt>Sobota</dt>
                                        <dd>Nieczynne</dd>
                                                }
                                                if (!(@Model.open_hours.isSelectedSun))
                                                {
                                        <dt>Niedziela</dt>
                                        <dd>@Model.open_hours.sundayFrom - @Model.open_hours.sundayTo</dd>
                                                }
                                                else
                                                {
                                        <dt>Niedziela</dt>
                                        <dd>Nieczynne</dd>
                                                    }

                                                }

                                        </dl>
                                    </article>
                                    <!-- /.block -->
                                </section>
                                <!--Reviews-->
                                <section class="block" id="reviews">
                                    <header class="clearfix">
                                        <h2 class="pull-left">Reviews</h2>
                                        <a href="#write-review" class="btn framed icon pull-right roll">Write a review <i class="fa fa-pencil"></i></a>
                                    </header>
                                    <article class="clearfix overall-rating">
                                        <strong class="pull-left">Over Rating</strong>
                                        <figure class="rating big color pull-right" data-rating="4"></figure>
                                        <!-- /.rating -->
                                    </article><!-- /.overall-rating-->
                                    <section class="reviews">
                                        <article class="review">
                                            <figure class="author">
                                                <img src="~/assets/img/default-avatar.png" alt="">
                                                <div class="date">12.05.2014</div>
                                            </figure>
                                            <!-- /.author-->
                                            <div class="wrapper">
                                                <h5>Catherine Brown</h5>
                                                <figure class="rating big color" data-rating="4"></figure>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                    Nulla vestibulum, sem ut sollicitudin consectetur, augue diam ornare massa,
                                                    ac vehicula leo turpis eget purus. Nunc pellentesque vestibulum mauris,
                                                    eget suscipit mauris imperdiet vel. Nulla et massa metus.
                                                </p>
                                                <div class="individual-rating">
                                                    <span>Value</span>
                                                    <figure class="rating" data-rating="4"></figure>
                                                </div>
                                                <!-- /.user-rating -->
                                                <div class="individual-rating">
                                                    <span>Service</span>
                                                    <figure class="rating" data-rating="4"></figure>
                                                </div>
                                                <!-- /.user-rating -->
                                            </div>
                                            <!-- /.wrapper-->
                                        </article>
                                        <!-- /.review -->
                                        <article class="review">
                                            <figure class="author">
                                                <img src="~/assets/img/default-avatar.png" alt="">
                                                <div class="date">10.05.2014</div>
                                            </figure>
                                            <!-- /.author-->
                                            <div class="wrapper">
                                                <h5>John Doe</h5>
                                                <figure class="rating big color" data-rating="5"></figure>
                                                <p>
                                                    Nunc pellentesque vestibulum mauris, eget suscipit mauris
                                                    imperdiet vel. Nulla et massa metus. Nam porttitor quam eget ante
                                                </p>
                                                <div class="individual-rating">
                                                    <span>Value</span>
                                                    <figure class="rating" data-rating="5"></figure>
                                                </div>
                                                <!-- /.user-rating -->
                                                <div class="individual-rating">
                                                    <span>Service</span>
                                                    <figure class="rating" data-rating="5"></figure>
                                                </div>
                                                <!-- /.user-rating -->
                                            </div>
                                            <!-- /.wrapper-->
                                        </article>
                                        <!-- /.review -->
                                    </section>
                                    <!-- /.reviews-->
                                </section>
                                <!-- /#reviews -->
                                <!--end Reviews-->
                                <!--Review Form-->
                                <section id="write-review">
                                    <header>
                                        <h2>Write a Review</h2>
                                    </header>
                                    <form id="form-review" role="form" method="post" action="?" class="background-color-white">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label for="form-review-name">Name</label>
                                                    <input type="text" class="form-control" id="form-review-name" name="form-review-name" required="">
                                                </div>
                                                <!-- /.form-group -->
                                                <div class="form-group">
                                                    <label for="form-review-email">Email</label>
                                                    <input type="email" class="form-control" id="form-review-email" name="form-review-email" required="">
                                                </div>
                                                <!-- /.form-group -->
                                                <div class="form-group">
                                                    <label for="form-review-message">Message</label>
                                                    <textarea class="form-control" id="form-review-message" name="form-review-message" rows="3" required=""></textarea>
                                                </div>
                                                <!-- /.form-group -->
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-default">Submit Review</button>
                                                </div>
                                                <!-- /.form-group -->
                                            </div>
                                            <div class="col-md-4">
                                                <aside class="user-rating">
                                                    <label>Value</label>
                                                    <figure class="rating active" data-name="value"></figure>
                                                </aside>
                                                <aside class="user-rating">
                                                    <label>Service</label>
                                                    <figure class="rating active" data-name="score"></figure>
                                                </aside>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- /.main-search -->
                                </section>
                                <!--end Review Form-->
                            </div>
                            <!-- /.col-md-8-->
                        </div>
                        <!-- /.row -->
                    </section>
                    <!-- /#main-content-->
                </div>
                <!-- /.col-md-8-->
                <!--Sidebar-->
                <div class="col-md-3">
                    <aside id="sidebar">
                        <section>
                            <header><h2>Ostatnio Dodane</h2></header>
                            <div id="lastAdded">                                
                            </div>                            
                        </section>
                       
                    </aside>
                    <!-- /#sidebar-->
                </div>
                <!-- /.col-md-3-->
                <!--end Sidebar-->
            </div><!-- /.row-->
        </section>
        <!-- /.container-->
    </div>
    <!-- end Page Content-->
</div>
<!-- end Page Canvas-->
<!--Page Footer-->
<footer id="page-footer">
    <div class="inner">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <!--New Items-->
                        <section>
                            <h2>New Items</h2>
                            <a href="item-detail.html" class="item-horizontal small">
                                <h3>Cash Cow Restaurante</h3>
                                <figure>63 Birch Street</figure>
                                <div class="wrapper">
                                    <div class="image"><img src="~/assets/img/items/1.jpg" alt=""></div>
                                    <div class="info">
                                        <div class="type">
                                            <i><img src="~/assets/icons/restaurants-bars/restaurants/restaurant.png" alt=""></i>
                                            <span>Restaurant</span>
                                        </div>
                                        <div class="rating" data-rating="4"></div>
                                    </div>
                                </div>
                            </a>
                            <!--/.item-horizontal small-->
                            <a href="item-detail.html" class="item-horizontal small">
                                <h3>Blue Chilli</h3>
                                <figure>2476 Whispering Pines Circle</figure>
                                <div class="wrapper">
                                    <div class="image"><img src="~/assets/img/items/2.jpg" alt=""></div>
                                    <div class="info">
                                        <div class="type">
                                            <i><img src="~/assets/icons/restaurants-bars/restaurants/restaurant.png" alt=""></i>
                                            <span>Restaurant</span>
                                        </div>
                                        <div class="rating" data-rating="3"></div>
                                    </div>
                                </div>
                            </a>
                            <!--/.item-horizontal small-->
                        </section>
                        <!--end New Items-->
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <!--Recent Reviews-->
                        <section>
                            <h2>Recent Reviews</h2>
                            <a href="item-detail.html#reviews" class="review small">
                                <h3>Max Five Lounge</h3>
                                <figure>4365 Bruce Street</figure>
                                <div class="info">
                                    <div class="rating" data-rating="4"></div>
                                    <div class="type">
                                        <i><img src="~/assets/icons/restaurants-bars/restaurants/restaurant.png" alt=""></i>
                                        <span>Restaurant</span>
                                    </div>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non suscipit felis, sed sagittis tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras ac placerat mauris.
                                </p>
                            </a><!--/.review-->
                            <a href="item-detail.html#reviews" class="review small">
                                <h3>Saguaro Tavern</h3>
                                <figure>2476 Whispering Pines Circle</figure>
                                <div class="info">
                                    <div class="rating" data-rating="5"></div>
                                    <div class="type">
                                        <i><img src="~/assets/icons/restaurants-bars/restaurants/restaurant.png" alt=""></i>
                                        <span>Restaurant</span>
                                    </div>
                                </div>
                                <p>
                                    Pellentesque mauris. Proin sit amet scelerisque risus. Donec semper semper erat ut mollis curabitur
                                </p>
                            </a>
                            <!--/.review-->
                        </section>
                        <!--end Recent Reviews-->
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <section>
                            <h2>About Us</h2>
                            <address>
                                <div>Max Five Lounge</div>
                                <div>63 Birch Street</div>
                                <div>Granada Hills, CA 91344</div>
                                <figure>
                                    <div class="info">
                                        <i class="fa fa-mobile"></i>
                                        <span>818-832-5258</span>
                                    </div>
                                    <div class="info">
                                        <i class="fa fa-phone"></i>
                                        <span>+1 123 456 789</span>
                                    </div>
                                    <div class="info">
                                        <i class="fa fa-globe"></i>
                                        <a href="#">www.maxfivelounge.com</a>
                                    </div>
                                </figure>
                            </address>
                            <div class="social">
                                <a href="#" class="social-button"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="social-button"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="social-button"><i class="fa fa-pinterest"></i></a>
                            </div>

                            <a href="contact.html" class="btn framed icon">Contact Us<i class="fa fa-angle-right"></i></a>
                        </section>
                    </div>
                    <!--/.col-md-4-->
                </div>
                <!--/.row-->
            </div>
            <!--/.container-->
        </div>
        <!--/.footer-top-->
        <div class="footer-bottom">
            <div class="container">
                <span class="left">(C) ThemeStarz, All rights reserved</span>
                <span class="right">
                    <a href="#page-top" class="to-top roll"><i class="fa fa-angle-up"></i></a>
                </span>
            </div>
        </div>
        <!--/.footer-bottom-->
    </div>
</footer>

@*<script type="text/javascript" src="~/assets/js/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="~/assets/js/before.load.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyCTW-OU8s-Eiy0PZmsvggk7PHZwyOe8cz0&amp;libraries=places"></script>
<script type="text/javascript" src="~/assets/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="~/assets/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="~/assets/js/richmarker-compiled.js"></script>
<script type="text/javascript" src="~/assets/js/smoothscroll.js"></script>
<script type="text/javascript" src="~/assets/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="~/assets/js/jquery.hotkeys.js"></script>
<script type="text/javascript" src="~/assets/js/custom.js"></script>*@
<script type="text/javascript" src="~/assets/js/maps.js"></script>

<script>

    $(document).ready(function () {
        $.ajax({
            url: '/Map/GetMarkers',
            type: 'GET',
            success: function (json) {

                var obj = JSON.parse(json);
                var markers = obj.data;


                for (i = 0; i <= markers.length; i++) {
                    if (markers[i].MarkerId == '@Model.MarkerId') {
                        itemDetailMap(markers[i]);
                        break;
                    }
                }
            },
            error: function (error) {
                DisplayError(error.statusText);
            }
        });


        $.ajax({
            url: '/Map/GetLastMarkers',
            type: 'GET',
            success: function (json) {

                var obj = JSON.parse(json);
                var markers = obj.data;

                for (i = 0; i <= 3; i++) {
                    $("#lastAdded").append('<a href="Item_detail?UserID=' + markers[i].MarkerId + '" class="item-horizontal small"><h3>' + markers[i].title + '</h3><figure>' + markers[i].location + '</figure><div class="wrapper"><div class="image"><img src="' + markers[i].gallery + '" alt=""></div><div class="info"><div class="type"><i><img src="/' + markers[i].type_icon + '" alt=""></i><span>' + markers[i].category + '</span></div><div class="rating" data-rating="4"></div></div></div></a>')
                }
            },
            error: function (error) {
                DisplayError(error.statusText);
            }
        });

    });

    $(window).load(function () {
        var rtl = false; // Use RTL
        initializeOwl(rtl);
    });

    
    $("#form_password").submit(function (e) {

        var model = {
            From: $('#email_form').val(),
            NameFrom: $('#name_form').val(),            
            To: '@ViewBag.UserEmail',
            NameTo: '@Model.title', 
            
            Message: $('#message_form').val(),
        };

        $.ajax({
            type: "POST",
            url: '@Url.Action("SendMessages", "Map")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                model: model
            }),
            success: function (data) {

                $('#name_form').val('');
                $('#email_form').val('');
                $('#message_form').val('');

                $('.sentMessaged_info').html(data);
                $('.sentMessaged_info').fadeIn();
                setTimeout(function () { $('.sentMessaged_info').fadeOut(); }, 2000);

            },
            failure: function (errorMsg) {
                alert(errorMsg);
            }
        });


        e.preventDefault();
    })



</script>



<!--[if lte IE 9]>
<script type="text/javascript" src="assets/js/ie-scripts.js"></script>
<![endif]-->
