﻿@model Tipsi.Models.Marker

<style>
    .error {
        color: #FF4330;
        font-size: smaller;
    }
</style>

<!-- Page Canvas-->
<div id="page-canvas">
    <!--Off Canvas Navigation-->
    @*<nav class="off-canvas-navigation">
        <header>Navigation</header>
        <div class="main-navigation navigation-off-canvas"></div>
    </nav>*@

    <div id="page-content">
        <section class="container">
            <div class="row">
                <!--Content-->
                <div class="col-md-9">
                    <header>
                        <center><h1 class="page-title">Dodaj Swoje Ogłoszenie</h1></center>
                    </header>
                    <form id="form-submit" role="form" method="post" action="?" enctype="multipart/form-data">


                        @Html.HiddenFor(m=>m.status)

                        <section>
                            <h3>Dane Kontaktowe:</h3>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="title">Nazwa*</label>
                                        @*@Html.EditorFor(m => m.title, new { htmlAttributes = new { @class = "form-control", required = "required" } })*@
                                        <input type="text" class="form-control" id="title" name="title" value="@Model.title" required />
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="title">Kategoria*</label>
                                        <select name="category" id="category" class="selectpicker" value="@Model.category">
                                            <option value="Salon Kosmetyczny">Salon Kosmetyczny</option>
                                            <option value="Fryzjer">Fryzjer</option>
                                            <option value="Spa">Spa</option>
                                            <option value="Salon Masażu">Salon Masażu</option>
                                            <option value="Ogłoszenie sąsiedzkie">Ogłoszenie sąsiedzkie</option>
                                        </select>
                                        @*@Html.EditorFor(m => m.title, new { htmlAttributes = new { @class = "form-control", required = "required" } })*@
                                        @*<input type="text" class="form-control" id="category" name="category" value="@Model.category" required />*@
                                    </div>
                                </div>
                            </div>

                            <!--/.row-->
                            <div class="row">
                                <div class="col-md-4 col-sm-4">
                                    <div class="form-group">
                                        <label for="name-nick">Imie, Nazwisko lub Nick*</label>
                                        <input type="text" class="form-control" id="name" name="name" value="@Model.name" required />
                                        @*@Html.EditorFor(m => m.name, new { htmlAttributes = new { @class = "form-control", required = "required"} })*@
                                        @*@Html.ValidationMessageFor(m => m.name)*@
                                    </div>
                                </div>
                                <!--/.col-md-4-->
                                <div class="col-md-4 col-sm-4">
                                    <div class="form-group">
                                        <label for="phone-number">Numer Stacjonarny</label>
                                        <input type="text" class="form-control input-medium bfh-phone" data-country="PL" value="@Model.phone_number" name="phone_number" id="phone_number">
                                        @*@Html.EditorFor(m => m.phone_number, new { htmlAttributes = new { @class = "form-control", required = "required" } })*@
                                        @*@Html.ValidationMessageFor(m => m.phone_number, "", new { @class = "text-danger" })*@
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="form-group">
                                        <label for="phone-number">Numer Komórkowy</label>
                                        <input type="text" class="form-control input-medium bfh-phone" data-country="PL" value="@Model.mobile_number" name="mobile_number" id="mobile_number">
                                        @*@Html.EditorFor(m => m.phone_number, new { htmlAttributes = new { @class = "form-control", required = "required" } })*@
                                        @*@Html.ValidationMessageFor(m => m.phone_number, "", new { @class = "text-danger" })*@
                                    </div>
                                </div>
                                <!--/.col-md-4-->
                                <div class="col-md-4 col-sm-4">
                                    <div class="form-group">
                                        <label for="email">E-mail*</label>
                                        <input class="form-control" type="email" id="email" name="email" value="@Model.email" required />
                                        @*@Html.EditorFor(m => m.email, new { htmlAttributes = new { @class = "form-control" } })*@
                                        @*@Html.ValidationMessageFor(m => m.email, "", new { @class = "text-danger" })*@
                                    </div>
                                </div>
                                <!--/.col-md-4-->
                                <div class="col-md-4 col-sm-4">
                                    <div class="form-group">
                                        <label for="email">Strona WWW</label>
                                        <input class="form-control" type="text" id="website" name="website" value="@Model.website" />
                                        @*@Html.EditorFor(m => m.email, new { htmlAttributes = new { @class = "form-control" } })*@
                                        @*@Html.ValidationMessageFor(m => m.email, "", new { @class = "text-danger" })*@
                                    </div>
                                </div>
                            </div>
                            <!--/.row-->
                        </section>
                        <!--/#address-contact-->
                        <section>
                            <h3>Oznacz się na mapie:</h3>
                            <div class="map">
                                <div class="search-bar horizontal">
                                    <div class="main-search border-less-inputs" role="form" method="post">
                                        <div class="input-row">
                                            <div class="form-group">
                                                @Html.ValidationMessageFor(m => m.latitude, "", new { @class = "text-danger" })
                                                <div class="input-group location">
                                                    @*<input type="text" class="form-control" id="location" placeholder="Enter Location">*@
                                                    @Html.EditorFor(m => m.location, new { htmlAttributes = new { @class = "form-control", id = "location", placeholder = "Wpisz dokładny adres" } })
                                                    @Html.EditorFor(m => m.latitude, new { htmlAttributes = new { @class = "form-control", id = "Lat", type = "hidden" } })
                                                    @Html.EditorFor(m => m.longitude, new { htmlAttributes = new { @class = "form-control", id = "Long", type = "hidden" } })
                                                    <span class="input-group-addon"><i class="fa fa-map-marker geolocation" data-toggle="tooltip" data-placement="bottom" title="Find my position"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="map-simple" class="map-submit"></div>
                            </div>

                        </section>

                        <section>
                            <h3>Zaznacz usługi kosmetyczne które wykonujesz</h3>
                            <ul class="list-unstyled checkboxes">


                                <li>
                                    <div class="checkbox">
                                        <label>
                                            @Html.CheckBoxFor(m => m.features.Paznokcie)
                                            @Html.Label("Paznokcie")
                                            @Html.HiddenFor(m => m.features.Paznokcie)
                                        </label>
                                    </div>
                                </li>

                                <li>
                                    <div class="checkbox">
                                        <label>
                                            @Html.CheckBoxFor(m => m.features.Henna)
                                            @Html.Label("Henna")
                                            @Html.HiddenFor(m => m.features.Henna)
                                        </label>
                                    </div>
                                </li>

                                <li>
                                    <div class="checkbox">
                                        <label>
                                            @Html.CheckBoxFor(m => m.features.Masaz)
                                            @Html.Label("Masaz")
                                            @Html.HiddenFor(m => m.features.Masaz)
                                        </label>
                                    </div>
                                </li>

                                <li>
                                    <div class="checkbox">
                                        <label>
                                            @Html.CheckBoxFor(m => m.features.Piling)
                                            @Html.Label("Piling")
                                            @Html.HiddenFor(m => m.features.Piling)
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </section>


                        <!--Gallery-->
                        <section>
                            <h3>
                                Galeria
                                <span class="galleryCounter" style="color:red"></span>
                                <span class="maxFilesInfo" style="color:red" hidden>Galeria jest pełna</span>
                            </h3>
                            <div action="@Url.Action("upload")" id="gallery" class="dropzone">
                                <input name="file" type="file" multiple>
                                <div class="dz-default dz-message"><span>Kliknij lub upuść zdjęcie</span></div>
                            </div>
                        </section>
                        <!--end Gallery-->
                        <!--Opening Hours-->

                        <section>
                            <h3>Godziny Pracy</h3>
                            <div class="opening-hours">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr class="day">
                                                <td class="day-name">@Html.Label("Poniedziałek")</td>

                                                <td class="from">
                                                    @Html.EditorFor(it => Model.open_hours.mondayFrom, new { htmlAttributes = new { @class = "oh-timepicker", type = "text", placeholder = "Od", @readonly = "readonly" } })
                                                    @Html.HiddenFor(it => Model.open_hours.mondayFrom)
                                                </td>

                                                <td class="to">
                                                    @Html.EditorFor(it => Model.open_hours.mondayTo, new { htmlAttributes = new { @class = "oh-timepicker", type = "text", placeholder = "Do", @readonly = "readonly" } })
                                                    @Html.HiddenFor(it => Model.open_hours.mondayTo)
                                                </td>
                                                <td class="non-stop">
                                                    <div class="checkbox">
                                                        <label>
                                                            @Html.CheckBoxFor(it => Model.open_hours.isSelectedMon) Nieczynne
                                                        </label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr class="day">
                                                <td class="day-name">@Html.Label("Wtorek")</td>

                                                <td class="from">
                                                    @Html.EditorFor(it => Model.open_hours.tuesdayFrom, new { htmlAttributes = new { @class = "oh-timepicker", type = "text", placeholder = "Od", @readonly = "readonly" } })
                                                    @Html.HiddenFor(it => Model.open_hours.tuesdayFrom)
                                                </td>

                                                <td class="to">
                                                    @Html.EditorFor(it => Model.open_hours.tuesdayTo, new { htmlAttributes = new { @class = "oh-timepicker", type = "text", placeholder = "Do", @readonly = "readonly" } })
                                                    @Html.HiddenFor(it => Model.open_hours.tuesdayTo)
                                                </td>
                                                <td class="non-stop">
                                                    <div class="checkbox">
                                                        <label>
                                                            @Html.CheckBoxFor(it => Model.open_hours.isSelectedTue) Nieczynne
                                                        </label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr class="day">
                                                <td class="day-name">@Html.Label("Środa")</td>

                                                <td class="from">
                                                    @Html.EditorFor(it => Model.open_hours.wednesdayFrom, new { htmlAttributes = new { @class = "oh-timepicker", type = "text", placeholder = "Od", @readonly = "readonly" } })
                                                    @Html.HiddenFor(it => Model.open_hours.wednesdayFrom)
                                                </td>

                                                <td class="to">
                                                    @Html.EditorFor(it => Model.open_hours.wednesdayTo, new { htmlAttributes = new { @class = "oh-timepicker", type = "text", placeholder = "Do", @readonly = "readonly" } })
                                                    @Html.HiddenFor(it => Model.open_hours.wednesdayTo)
                                                </td>
                                                <td class="non-stop">
                                                    <div class="checkbox">
                                                        <label>
                                                            @Html.CheckBoxFor(it => Model.open_hours.isSelectedWed) Nieczynne
                                                        </label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr class="day">
                                                <td class="day-name">@Html.Label("Czwartek")</td>

                                                <td class="from">
                                                    @Html.EditorFor(it => Model.open_hours.thursdayFrom, new { htmlAttributes = new { @class = "oh-timepicker", type = "text", placeholder = "Od", @readonly = "readonly" } })
                                                    @Html.HiddenFor(it => Model.open_hours.thursdayFrom)
                                                </td>

                                                <td class="to">
                                                    @Html.EditorFor(it => Model.open_hours.thursdayTo, new { htmlAttributes = new { @class = "oh-timepicker", type = "text", placeholder = "Do", @readonly = "readonly" } })
                                                    @Html.HiddenFor(it => Model.open_hours.thursdayTo)
                                                </td>
                                                <td class="non-stop">
                                                    <div class="checkbox">
                                                        <label>
                                                            @Html.CheckBoxFor(it => Model.open_hours.isSelectedThu) Nieczynne
                                                        </label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr class="day">
                                                <td class="day-name">@Html.Label("Piątek")</td>

                                                <td class="from">
                                                    @Html.EditorFor(it => Model.open_hours.fridayFrom, new { htmlAttributes = new { @class = "oh-timepicker", type = "text", placeholder = "Od", @readonly = "readonly" } })
                                                    @Html.HiddenFor(it => Model.open_hours.fridayFrom)
                                                </td>

                                                <td class="to">
                                                    @Html.EditorFor(it => Model.open_hours.fridayto, new { htmlAttributes = new { @class = "oh-timepicker", type = "text", placeholder = "Do", @readonly = "readonly" } })
                                                    @Html.HiddenFor(it => Model.open_hours.fridayto)
                                                </td>
                                                <td class="non-stop">
                                                    <div class="checkbox">
                                                        <label>
                                                            @Html.CheckBoxFor(it => Model.open_hours.isSelectedFri) Nieczynne
                                                        </label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr class="day">
                                                <td class="day-name">@Html.Label("Sobota")</td>

                                                <td class="from">
                                                    @Html.EditorFor(it => Model.open_hours.saturdayFrom, new { htmlAttributes = new { @class = "oh-timepicker", type = "text", placeholder = "Od", @readonly = "readonly" } })
                                                    @Html.HiddenFor(it => Model.open_hours.saturdayFrom)
                                                </td>

                                                <td class="to">
                                                    @Html.EditorFor(it => Model.open_hours.saturdayTo, new { htmlAttributes = new { @class = "oh-timepicker", type = "text", placeholder = "Do", @readonly = "readonly" } })
                                                    @Html.HiddenFor(it => Model.open_hours.saturdayTo)
                                                </td>
                                                <td class="non-stop">
                                                    <div class="checkbox">
                                                        <label>
                                                            @Html.CheckBoxFor(it => Model.open_hours.isSelectedSat) Nieczynne
                                                        </label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr class="day">
                                                <td class="day-name">@Html.Label("Niedziela")</td>

                                                <td class="from">
                                                    @Html.EditorFor(it => Model.open_hours.sundayFrom, new { htmlAttributes = new { @class = "oh-timepicker", type = "text", placeholder = "Od", @readonly = "readonly" } })
                                                    @Html.HiddenFor(it => Model.open_hours.sundayFrom)
                                                </td>

                                                <td class="to">
                                                    @Html.EditorFor(it => Model.open_hours.sundayTo, new { htmlAttributes = new { @class = "oh-timepicker", type = "text", placeholder = "Do", @readonly = "readonly" } })
                                                    @Html.HiddenFor(it => Model.open_hours.sundayTo)
                                                </td>
                                                <td class="non-stop">
                                                    <div class="checkbox">
                                                        <label>
                                                            @Html.CheckBoxFor(it => Model.open_hours.isSelectedSun) Nieczynne
                                                        </label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <!--/.day-->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </section>
                        <!--end Opening Hours-->

                        <section>
                            <h3><i class="fa fa-info-circle"></i>Dodatkowy opis, pochwal się tym co wykonujesz</h3>
                            <div class="form-group">
                                <div class="form-group">
                                    @Html.TextAreaFor(m => m.pleaceDescription, new { @class = "form-control" })
                                </div>
                                <!--/.form-group-->
                            </div>
                            <!--/.form-group-->
                        </section>

                        <hr>
                        <section>
                            <figure class="pull-left margin-top-15">
                                <p>Klikając na przycisk “Zapisz zmiany” akceptujesz <a href="terms-conditions.html" class="link">Regulamin Strony</a></p>
                            </figure>
                            <div class="form-group">
                                <button type="submit" class="btn btn-default pull-right" id="submit">Zapisz zmiany</button>
                            </div>
                            <!-- /.form-group -->
                        </section>
                    </form>
                    <!--/#form-submit-->
                </div>
                <!--/.col-md-9-->
                <!--Sidebar-->
                <div class="col-md-3">
                    <aside id="sidebar">
                        <div class="sidebar-box">
                            <h3>Payment</h3>
                            <div class="form-group">
                                <label for="package">Your Package</label>
                                <select name="package" id="package" class="framed">
                                    <option value="">Select your package</option>
                                    <option value="1">Free</option>
                                    <option value="2">Silver</option>
                                    <option value="3">Gold</option>
                                    <option value="4">Platinum</option>
                                </select>
                            </div>
                            <!-- /.form-group -->
                            <h4>This package includes</h4>
                            <ul class="bullets">
                                <li>1 Property</li>
                                <li>1 Agent Profile</li>
                                <li class="disabled">Agency Profile</li>
                                <li class="disabled">Featured Properties</li>
                            </ul>
                        </div>
                    </aside>
                    <!-- /#sidebar-->
                </div>
                <!-- /.col-md-3-->
                <!--end Sidebar-->
            </div>
        </section>
    </div>
    <!-- end Page Content-->
</div>
<!-- end Page Canvas-->

@*<script type="text/javascript" src="~/assets/js/jquery-2.1.0.min.js"></script>*@
<script type="text/javascript" src="~/assets/js/jquery-ui.min.js"></script>
@*<script type="text/javascript" src="~/assets/js/before.load.js"></script>*@
@*<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyCTW-OU8s-Eiy0PZmsvggk7PHZwyOe8cz0&amp;libraries=places"></script>*@
@*<script type="text/javascript" src="~/assets/js/richmarker-compiled.js"></script>*@
@*<script type="text/javascript" src="~/assets/js/jquery-migrate-1.2.1.min.js"></script>*@
@*<script type="text/javascript" src="~/assets/bootstrap/js/bootstrap.min.js"></script>*@
@*<script type="text/javascript" src="~/assets/js/smoothscroll.js"></script>*@
@*<script type="text/javascript" src="~/assets/js/bootstrap-select.min.js"></script>*@
<script type="text/javascript" src="~/assets/js/icheck.min.js"></script>
@*<script type="text/javascript" src="~/assets/js/jquery.hotkeys.js"></script>*@
<script type="text/javascript" src="~/assets/js/dropzone-4.3.0/dropzone.js"></script>
<script type="text/javascript" src="~/assets/js/jquery.ui.timepicker.js"></script>
@*<script type="text/javascript" src="~/assets/js/custom.js"></script>*@
<script type="text/javascript" src="~/assets/js/maps.js"></script>


<!-- Phone form -->
@*<script type="text/javascript" src="~/Scripts/BootstrapFormHelper/bootstrap-formhelpers.min.js"></script>*@

<!-- Jquery validation -->
<script type="text/javascript" src="~/Scripts/jquery.validate.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>

<script>
    $(window).load(function(){
        var _latitude = 52.229676;
        var _longitude = 21.012229;
        var draggableMarker = false;
        var zoom = 6;
        setMarkerOnMap(_latitude, _longitude, draggableMarker, zoom);
    });
    autoComplete();

    $('.location').keypress(function (event) {
        if (event.keyCode == 13) {
            event.preventDefault();
        }
    });
    

    $("#form-submit").validate({
        rules: {
            title: {
                required: true,
                minlength: 3,
                maxlength: 20,
            },
            name: {
                required: true,
                minlength: 3,
                maxlength: 20,
            },
            email: {
                required: true,
                email: true
            },
            location: {
                required: true,
            }
        },
        messages: {
            title: {
                minlength: "Wymagane min. 3 znaków",
                maxlength: "Maksymalnie 20 znaków",
                required: "Pole wymagane"
            },
            name: {
                minlength: "Wymagane min. 3 znaków",
                maxlength: "Maksymalnie 20 znaków",
                required: "Pole wymagane"
            },
            email: {
                email: "Nieprawidłowy format",
                required: "Pole wymagane"
            },
            location: {
                required: "Ustaw swoją lokalizacje"
            },
        }
    });

    $(document).ready(function () {
        $('#category').val('@Model.category');
        $('#category').selectpicker('refresh');
    });

</script>

@*[if lte IE 9]>
<script type="text/javascript" src="~/assets/js/ie-scripts.js"></script>
<![endif]*@
