﻿
<div class="container">
    <div class="row " style="padding-top:40px;">
        <h3 class="text-center">WIADOMOŚCI :) </h3>
        <p class="ddd"></p>
        <br /><br />

        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    ONLINE USERS
                </div>
                <div class="panel-body">
                    <ul class="media-list">

                        @{
                            var ID = 0;

                            foreach (var user in @Model)
                            {
                                var userNeme = "";
                                var userTitle = "";
                                var userPic = "";



                                if (@user.messages.Count() >= 0)
                                {
                                    if (@user.messages[0].From == ViewBag.MyEmail)
                                    {
                                        userNeme = "Do: " + @user.messages[0].To;
                                        userTitle = @user.messages[0].NameShopTo;
                                        userPic = @user.ProfilePic;
                                    }
                                    else
                                    {
                                        userNeme = "Od: " + @user.messages[0].From;
                                        userTitle = @user.messages[0].NameShopFrom;
                                        userPic = @user.ProfilePic;
                                    };

                                    <li class="media">
                                        <div class="media-body btn-default userMessageBox" id="@ID">

                                            <div class="media">
                                                <a class="pull-left" href="#">
                                                    <img class="media-object img-circle" style="max-height:40px;" src="@userPic" />
                                                </a>
                                                <div class="media-body">
                                                    <h5>@userNeme</h5>

                                                    <small class="text-muted">@userTitle</small>
                                                </div>
                                            </div>

                                        </div>
                                    </li>
                                }
                                ID++;
                        }
                        }
                        

                     </ul>
                </div>
            </div>

        </div>


        <div class="col-md-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    RECENT CHAT HISTORY
                </div>
                <div class="panel-body">
                    <ul class="media-list messageList">

                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter Message" />
                        <span class="input-group-btn">
                            <button class="btn btn-info" type="button">SEND</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".userMessageBox").click(function (event) {
            var contentPanelId = jQuery(this).attr("id");
            var model = @Html.Raw(Json.Encode(Model));

            $(".messageList").empty();

            for (i = 0; i <= model[contentPanelId].messages.length; i++) { 

                //alert(model[contentPanelId].messages[i].Message);

                var currentMessage = model[contentPanelId].messages[i];

                var messageHtml =
                    
                    '<li class="media">'+

                            '<div class="media-body">'+

                                '<div class="media">'+
                                    '<a class="pull-left" href="#">'+
                                        '<img class="media-object img-circle " src="assets/img/user.png" />'+
                                    '</a>'+
                                    '<div class="media-body">'+
                                    '<h5>'+ currentMessage.Message + '</h5>'+    
                                    '<h7>'+ new Date(parseInt(currentMessage.Date.substr(6))).toLocaleString() + '</h7>'+ 
                                        '</small>'+
                                        '<hr/>'+
                                    '</div>'+
                                '</div>'+

                            '</div>'+
                    '</li>';

                $(".messageList").append(messageHtml);   

            }
            
        });
    });
</script>