﻿@model Tipsi.Models.Marker


<div id="page-canvas">
    <!--Off Canvas Navigation-->
    @*<nav class="off-canvas-navigation">
        <header>Navigation</header>
        <div class="main-navigation navigation-off-canvas"></div>
    </nav>*@
    <!--end Off Canvas Navigation-->
    <!--Sub Header-->
    <section class="sub-header">
        <div class="search-bar horizontal collapse" id="redefine-search-form"></div>
        <!-- /.search-bar -->
        @*<div class="breadcrumb-wrapper">
            <div class="container">
                <div class="redefine-search">
                    <a href="#redefine-search-form" class="inner" data-toggle="collapse" aria-expanded="false" aria-controls="redefine-search-form">
                        <span class="icon"></span>
                        <span>Redefine Search</span>
                    </a>
                </div>
                <ol class="breadcrumb">
                    <li><a href="index-directory.html"><i class="fa fa-home"></i></a></li>
                    <li><a href="#">Page</a></li>
                    <li class="active">Detail</li>
                </ol>
                <!-- /.breadcrumb-->
            </div>
            <!-- /.container-->
        </div>*@
        <!-- /.breadcrumb-wrapper-->
    </section>
    <!--end Sub Header-->
    <!--Page Content-->
    <div id="page-content">
        <section class="container">
            @*<header>
                <ul class="nav nav-pills">
                    <li><a href="@Url.Action("MyProfile", "Users")"><h1 class="page-title">Profil</h1></a></li>
                    <li class="active"><a href="@Url.Action("MyItems", "Users")"><h1 class="page-title">Moje Ogłoszenie</h1></a></li>
                </ul>
            </header>*@
            <div class="row">           
                

                @{
                    if (Model == null)
                    {
                        <div class="col-md-9 col-sm-9">
                            <a href="@Url.Action("AddLocalization", "Users")" class="btn btn-default center">DODAJ SWOJE OGŁOSZENIE</a>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-3 col-sm-3">
                            <aside id="sidebar">
                                <ul class="navigation-sidebar list-unstyled">
                                    <li class="active">
                                        <a href="http://localhost:5580/map/Item_detail?UserID=@ViewBag.Id">
                                            <i class="fa fa-eye"></i>
                                            <span>Podgląd</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("EditLocalization","Users")">
                                            <i class="fa fa-edit"></i>
                                            <span>Edycja</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" data-toggle="modal" data-target="#deleteItemModal">
                                            <i class="fa fa-trash"></i>
                                            <span>Usuń</span>
                                        </a>
                                    </li>                                    
                                </ul>
                            </aside>
                        </div>
                    }

                }


                <div class="col-md-9 col-sm-9">
                    <section id="items">

                        @using (Html.BeginForm("MyItems", "Users", FormMethod.Post))
            {
                if (Model != null)
                {
                    <div class="item list admin-view">
                        <div class="image">
                            <div class="quick-view" data-toggle="modal" data-target="#modal-bar"><i class="fa fa-eye"></i><span>Quick View</span></div>
                            <a href="item-detail.html">
                                @*<div class="overlay">
                            <div class="inner">
                                <div class="content">
                                    <h4>Description</h4>
                                    <p>Curabitur odio nibh, luctus non pulvinar a, ultricies ac diam. Donec neque massa</p>
                                </div>
                            </div>
                        </div>*@
                                @*<div class="item-specific">
                                    <span title="Bedrooms"><img src="~/assets/img/bedrooms.png" alt="">2</span>
                                    <span title="Bathrooms"><img src="~/assets/img/bathrooms.png" alt="">2</span>
                                    <span title="Area"><img src="~/assets/img/area.png" alt="">240m<sup>2</sup></span>
                                    <span title="Garages"><img src="~/assets/img/garages.png" alt="">1</span>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-thumbs-up"></i>
                                </div>*@
                                <img src="@ViewBag.Picture" alt="">
                            </a>
                        </div>


                        <div class="wrapper">
                            <a href="item-detail.html"><h3>@Html.Label(Model.title)</h3></a>
                            <figure>@Html.Label(Model.location)</figure>
                            <div class="info">
                                <div class="type">
                                    <i><img src="~/assets/icons/restaurants-bars/restaurants/restaurant.png" alt=""></i>
                                    @*<span>@Html.Label(Model.category)</span>*@
                                </div>
                                <div class="rating" data-rating="4"></div>
                            </div>
                        </div>
                        <div class="description">
                            <ul class="list-unstyled actions">
                                <li><a href="@Url.Action("EditLocalization","Users")"><i class="fa fa-pencil"></i></a></li>
                                <li><a href="#" class="hide-item"><i class="fa fa-eye"></i></a></li>
                                <li><a href="#" data-toggle="modal" data-target="#deleteItemModal"><i class="fa fa-trash"></i></a></li>
                            </ul>
                        </div>
                        <div class="ribbon approved">
                            <i class="fa fa-check"></i>
                        </div>
                    </div>
    }
}

                        <!-- /.item-->
                    </section>
                </div>
            </div>
        </section>
    </div>
    <!-- end Page Content-->
</div>
<!-- end Page Canvas-->


<!-- Modal -->
<div class="modal fade" id="deleteItemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Czy napewno?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span>Czy na pewno chcesz usunąć swoje ogłoszenie? <br />
                      Zmiany będą nieodwracalne.</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                <button type="button" class="btn btn-primary" onclick="removeItem()">Usuń</button>                                     
            </div>
        </div>
    </div>
</div>

<script>
    function removeItem() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("RemoveItem", "Users")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                //Password: $('#password').val(),
                //UserId: $('#UserId').val(),
                //Confirm_password: $('#confirm_password').val(),
            }),
            success: function (data) {
                window.location.reload();
            },
            failure: function (errorMsg) {
                alert(errorMsg);
            }
        });
    }
    
</script>