﻿@model Tipsi.ViewModels.ProfileViewModel

<style>
.error {
  color: #FF4330;
  font-size: smaller 
}
</style>

<div class="page-profile page-subpage">
    <!-- Page Canvas-->
    <div id="page-canvas">
        <!--Off Canvas Navigation-->
        @*<nav class="off-canvas-navigation">
            <header>Navigation</header>
            <div class="main-navigation navigation-off-canvas"></div>
        </nav>*@
        <!--Page Content-->
        <div id="page-content">
            <section class="container">
                @*<header>
                    <ul class="nav nav-pills">
                        <li class="active"><a href="@Url.Action("MyProfile", "Users")"><h1 class="page-title">Profil</h1></a></li>
                        <li><a href="@Url.Action("MyItems", "Users")"><h1 class="page-title">Moje Ogłoszenie</h1></a></li>
                    </ul>
                </header>*@
                <div class="row">
                    <div class="col-md-9">                        
                            <form id="form-profile" role="form" method="post" action="@Url.Action("MyProfile", "Users")" enctype="multipart/form-data">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="UserId" id="UserId" value="@Model.UserId" />
                                <div class="row">
                                    <!--Profile Picture-->
                                    <div class="col-md-3 col-sm-3">
                                        <section>
                                            <center>
                                                <h3><i class="fa fa-image"></i>Zdjęcie Profilowe</h3>
                                                <div id="profile-picture" class="profile-picture dropzone">
                                                    <input name="file" type="file">
                                                    <div class="dz-default dz-message"><span>Kliknij lub upuść zdjęcie</span></div>
                                                    <img src="~/assets/img/profile_default.png" alt="">
                                                </div>
                                            </center>
                                        </section>
                                    </div>
                                    <!--/.col-md-3-->
                                    <!--Contact Info-->
                                    <div class="col-md-9 col-sm-9">
                                        <section>
                                            <div>
                                                <h3><i class="fa fa-user"></i>Dane do logowania</h3>
                                            </div>

                                            @{ if (@Model._emailStatus)
                                                {
                                                    <label style="color:green; font-size:smaller; font-style:italic">Prośba zmiany adresu email została wysłana na: @Model.Email<br />
                                                    Możesz anulować chęć zmiany: @Html.ActionLink("Anuluj", "CancelUnconfirmedEmail", new { UserId = @Model.UserId }, null )
                                                    </label>                                                    
                                                }
                                            }

                                            @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
                                            
                                            @*<input type="hidden" name="UserId" id="UserId" value="@Model.UserId" />*@

                                            <div class="row" id="console-event">
                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        <label for="name">Nick</label>
                                                        <input type="text" name="Name" id="Name" class="form-control" value="@Model.Name" />                                                        
                                                    </div>
                                                    <!--/.form-group-->
                                                </div>
                                                <!--/.col-md-3-->
                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        <label for="email">Email</label>
                                                        <input type="email" name="Email" id="Email" class="form-control" value="@Model.Email" required placeholder="@Model.Email"/>
                                                    </div>
                                                    <!--/.form-group-->
                                                </div>
                                                <!--/.col-md-3-->
                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        <label for="mobile">Telefon</label>
                                                        <input type="text" class="input-medium bfh-phone" data-country="PL" name="Phone" id="Phone" value="@Model.Phone">
                                                    </div>
                                                    <!--/.form-group-->
                                                </div>
                                            </div>
                                        </section>

                                        <section>
                                            <h3><i class="fa fa-info-circle"></i>O mnie</h3>
                                            <div class="form-group">
                                                <label for="about-me">Kilka słów o sobie</label>
                                                <div class="form-group">
                                                    <textarea class="form-control" rows="5" id="Description" name="Description">@Model.Description</textarea>
                                                </div>
                                                <!--/.form-group-->
                                            </div>
                                            <!--/.form-group-->
                                        </section>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-default" id="saveProfBtn">Zapisz zmiany</button>
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!--/.col-md-6-->
                                </div>                                
                            </form>
                    </div>


                    <!--Password-->
                    <div class="col-md-3 col-sm-9">
                        <h3><i class="fa fa-asterisk"></i>Zmień Hasło</h3>
                        <form class="framed form_password" id="form_password" role="form" method="post">

                            <input type="hidden" name="UserId" id="UserId" value="@Model.UserId" />

                            <div class="changePassword_info"></div>
                            <!--/.form-group-->
                            <div class="form-group">
                                <label for="password">Nowe hasło</label>
                                <input id="password" class="form-control" type="password" placeholder="Hasło" name="password">
                                <div class="messages" style="color: red; font-size:smaller"></div>
                            </div>
                            <!--/.form-group-->
                            <div class="form-group">
                                <label for="confirm_password">Powtórz hasło</label>
                                <input id="confirm_password" class="form-control" type="password" placeholder="Powtórz hasło" name="confirm_password">
                                <div class="messages" style="color: red; font-size:smaller"></div>
                            </div>
                            <!--/.form-group-->
                            <div class="form-group">
                                <input type="submit" class="btn btn-default" id="savePassBtn" value="Zapisz Hasło">
                            </div>
                            <!-- /.form-group -->
                        </form>

                    </div>
                    <!-- /.col-md-3-->

                </div>
            </section>
        </div>
        <!-- end Page Content-->
    </div>
</div>



@*<script type="text/javascript" src="~/assets/js/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="~/assets/js/before.load.js"></script>
    <script type="text/javascript" src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/assets/js/smoothscroll.js"></script>
    <script type="text/javascript" src="~/assets/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery.hotkeys.js"></script>*@
<script type="text/javascript" src="~/assets/js/dropzone-4.3.0/dropzone.js"></script>
  @*  <script type="text/javascript" src="~/assets/js/custom.js"></script>
    <script type="text/javascript" src="~/assets/js/maps.js"></script>*@

@*<script type="text/javascript" src="~/Scripts/BootstrapFormHelper/bootstrap-formhelpers.min.js"></script>*@


<script type="text/javascript" src="~/Scripts/jquery.validate.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>


<script>


    $(".form_password").submit(function(e) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("Password", "Users")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                Password: $('#password').val(),
                UserId: $('#UserId').val(),
                Confirm_password: $('#confirm_password').val(),
            }),
            success: function (data) {
                if (data == true) {
                    $('.changePassword_info').fadeIn();
                    $('.changePassword_info').html("<center><span style='color: green; font - style:italic'>Hasło zostało zmienione</span></center>");
                    setTimeout(function () { $('.changePassword_info').fadeOut(); }, 5000);
                    $('#password, #confirm_password').val('');
                } else {
                    $('.changePassword_info').fadeIn();
                    $('.changePassword_info').html("<center><span style='color: red; font - style:italic'>HASŁO NIEPRAWIDŁOWE: <br> <ul><li>minimum 6 znaków</li><li>duża litera</li><li>conajmniej jedna cyfra</li><li>conajmniej jeden znak specjalny</li></ul></span></center>"); setTimeout(function () { $('.changePassword_info').fadeOut(); }, 5000);
                }
            },
            failure: function (errMsg) {
                alert(errMsg);

                $('.changePassword_info').fadeIn();
                $('.changePassword_info').html("<center><span style='color: red; font - style:italic'>HASŁO NIEPRAWIDŁOWE: <br> <ul><li>minimum 6 znaków</li><li>duża litera</li><li>conajmniej jedna cyfra</li><li>conajmniej jeden znak specjalny</li></ul></span></center>");
                setTimeout(function () { $('.changePassword_info').fadeOut(); }, 5000);
            }
        });

        e.preventDefault();
    })


    $("#form-profile").validate({
        rules: {
            Name: {
                required: true,
                minlength: 3,
                maxlength: 16,
                pattern: "[a-zA-Z0-9]+",
            },
            Email: {
                required: true,
                email: true
            },
        },
        messages: {
            Name: {
                minlength: "Wymagane min. 3 znaków",
                maxlength: "Maksymalnie 16 znaków",
                pattern: "Dostępne znaki: a-z oraz 0-9",
                required: "Pole wymagane"
            },
            Email: {
                email: "Nieprawidłowy format",
                required: "Pole wymagane"
            },
        }
    });

    $("#form_password").validate({
        rules: {
            password: {
                required: true,
                minlength: 6,
                pattern: @Html.Raw("/^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{6,16}$/"),
            },
            confirm_password: {
                equalTo: "#password"
            },
        },
        messages: {
            password: {
                pattern: "Wymagana cyfra oraz znak specjalny",
                minlength: "Wymagane min. 6 znaków",
                required: "Pole wymagane"
            },
            confirm_password: {
                equalTo: "Hasło się rożni"
            },
        }
    });


</script>
