﻿<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>TIPSI - kosmetyczka, fryzjer w Twojej okolicy - ogłoszenia lokalne</title>


    <link href="~/assets/fonts/font-awesome.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/bootstrap-select.min.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/jquery.mCustomScrollbar.css" type="text/css">
    <link rel="stylesheet" href="~/assets/js/dropzone-4.3.0/dropzone.css" type="text/css">

    <link rel="stylesheet" href="~/assets/css/style.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/user.style.css" type="text/css">

    <link href="~/assets/x-navbar/css/pe-icon-7-stroke.css" rel="stylesheet" />
    <link href="~/assets/x-navbar/css/ct-navbar.css" rel="stylesheet" />


    <script type="text/javascript" src="~/assets/js/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="~/assets/js/before.load.js"></script>
    <script type="text/javascript" src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/assets/js/smoothscroll.js"></script>
    <script type="text/javascript" src="~/assets/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery.hotkeys.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery.nouislider.all.min.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyCTW-OU8s-Eiy0PZmsvggk7PHZwyOe8cz0&amp;libraries=places"></script>
    <script type="text/javascript" src="~/assets/js/infobox.js"></script>
    <script type="text/javascript" src="~/assets/js/richmarker-compiled.js"></script>
    <script type="text/javascript" src="~/assets/js/markerclusterer.js"></script>
    <script type="text/javascript" src="~/assets/js/custom.js"></script>
    <script type="text/javascript" src="~/Scripts/BootstrapFormHelper/bootstrap-formhelpers.min.js"></script>

    <script src="~/assets/x-navbar/js/ct-navbar.js"></script>

</head>


<body onunload="" class="map-fullscreen page-homepage" id="page-top">   

    <!-- Navigation-->
    <div id="outer-wrapper">
        <!-- Inner Wrapper -->
        <div id="inner-wrapper">

            @Html.Partial("_LoginPartial")

            <!-- Body -->

            @RenderBody()

            <footer class="sticky-footer">
                <div class="container">
                    <div class="text-center">
                        <small>Copyright © Your Website 2017</small>
                    </div>
                </div>
            </footer>

            @RenderSection("scripts", required: false)
        </div>
    </div>
</body>
</html>

