﻿@using Microsoft.AspNet.Identity


@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {      
                <div id="navbar-full">
                    <div id="navbar">
                        <!--
                         navbar-default can be changed with navbar-ct-blue navbar-ct-azzure navbar-ct-red navbar-ct-green navbar-ct-orange
                         -->
                        <nav class="navbar navbar-default navbar-ct-blue navbar-fixed-top" role="navigation">

                            <div class="container">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand navbar-brand-logo" href="http://www.tipsi.pl">
                                        <div class="logo">
                                            <img src="~/assets/img/logo.png">
                                        </div>                                        
                                    </a>
                                </div>
                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li>
                                            <a href="@Url.Action("Index", "map")" data-toggle="search" class="hidden-xs">
                                                <i class="pe-7s-map-marker"></i>
                                                <p>Szukaj</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Messages", "Users")">
                                                <i class="pe-7s-mail">
                                                    <span class="label">23</span>
                                                </i>
                                                <p>Wiadomości</p>
                                            </a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                <i class="pe-7s-user"></i>
                                                <p>Profil <b class="caret"></b></p>
                                            </a>
                                            
                                            <ul class="dropdown-menu">
                                                <li><a href="@Url.Action("MyProfile", "Users")">Ustawienia</a></li>

                                                
                                                    
                                                    @if (User.IsInRole("Shop"))
                                                    {
                                                        <li><a href="@Url.Action("MyItems", "Users")">Moje Ogłoszenie</a></li>
                                                    }


                                                <li class="divider"></li>
                                                <li>
                                                    <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                                                        @Html.AntiForgeryToken()
                                                        Wyloguj
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    @*<form class="navbar-form navbar-right navbar-search-form" role="search">
                                        <div class="form-group">
                                            <input type="text" value="" class="form-control" placeholder="Search...">
                                        </div>
                                    </form>*@

                                </div><!-- /.navbar-collapse -->
                            </div><!-- /.container-fluid -->
                        </nav>
                        <div class="blurred-container">
                                @*<div class="img-src" style="background-image: url('images/bg.jpg')"></div>*@
                            </div>
                    </div><!--  end navbar -->
                </div> <!-- end menu-dropdown -->
                <!-- Navigation-->
        

                @*<div class="header">
                        <div class="wrapper">
                            <div class="brand">
                                <a href="@Url.Action("About", "Home")"><img src="~/assets/img/logo.png" alt="logo"></a>
                            </div>




                           <nav class="navigation-items">
                                <div class="wrapper">
                                    <ul class="main-navigation navigation-top-header"></ul>
                                    <ul class="user-area">
                                        <li>
                                            <a href="@Url.Action("MyProfile", "Users")">
                                                Moje Konto
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                                                @Html.AntiForgeryToken()
                                                Wyloguj
                                            </a>
                                        </li>
                                    </ul>
                                        <a href="@Url.Action("AddLocalization", "Users")" class="submit-item">
                                            <div class="content"><span>Dodaj ogłoszenie</span></div>
                                            <div class="icon">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        </a>
                                    </div>
                                </nav>
                        </div>
                    </div>*@
                <!-- end Navigation-->

                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                <a class="btn btn-primary" href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>

    }
}
else
{
    
    <div id="navbar-full">
        <div id="navbar">
            <!--
             navbar-default can be changed with navbar-ct-blue navbar-ct-azzure navbar-ct-red navbar-ct-green navbar-ct-orange
             -->
            <nav class="navbar navbar-default navbar-ct-blue navbar-fixed-top" role="navigation">

                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand navbar-brand-logo" href="http://www.tipsi.pl">
                            <div class="logo">
                                <img src="~/assets/img/logo.png">
                            </div>
                        </a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">

                            <li>
                                <a href="@Url.Action("Index", "map")" data-toggle="search" class="hidden-xs">
                                    <i class="pe-7s-map-marker"></i>
                                    <p>Szukaj</p>
                                </a>
                            </li>

                            <li>
                                <a href="@Url.Action("Register", "Account")" data-toggle="search" class="hidden-xs">
                                    <i class="pe-7s-id"></i>
                                    <p>Zarejestruj</p>
                                </a>
                            </li>

                            <li>
                                <a href="@Url.Action("Login", "Account")" data-toggle="search" class="hidden-xs">
                                    <i class="pe-7s-users"></i>
                                    <p>Zaloguj</p>
                                </a>
                            </li>
                            
                        </ul>
                        @*<form class="navbar-form navbar-right navbar-search-form" role="search">
                                <div class="form-group">
                                    <input type="text" value="" class="form-control" placeholder="Search...">
                                </div>
                            </form>*@

                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
            <div class="blurred-container">
                @*<div class="img-src" style="background-image: url('images/bg.jpg')"></div>*@
            </div>
        </div><!--  end navbar -->
    </div> <!-- end menu-dropdown -->
                <!-- Navigation-->




                <!-- Navigation-->
                @*<div class="header">
                    <div class="wrapper">
                        <div class="brand">
                            <a href="@Url.Action("About", "Home")"><img src="~/assets/img/logo.png" alt="logo"></a>
                        </div>
                        <nav class="navigation-items">
                            <div class="wrapper">
                                <ul class="main-navigation navigation-top-header"></ul>
                                <ul class="user-area">
                                    <li><a href="@Url.Action("Login", "Account")">Zaloguj</a></li>
                                    <li><a href="@Url.Action("Register", "Account")"><strong>Zarejestruj</strong></a></li>
                                </ul>

                                @*<div class="toggle-navigation">
                                        <div class="icon">
                                            <div class="line"></div>
                                            <div class="line"></div>
                                            <div class="line"></div>
                                        </div>
                                    </div>
                            </div>
                        </nav>
                    </div>
                </div>*@
                <!-- end Navigation-->
                }
