﻿@model Tipsi.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <br />
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">Reset Password</div>
        <div class="card-body">
            <div class="text-center mt-4 mb-5">
                <h4>Forgot your password?</h4>
                <p>Enter your email address and we will send you instructions on how to reset your password.</p>
            </div>

            <form>
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" , @placeholder = "Enter email address" })
                </div>
                <input type="submit" class="btn btn-primary btn-block" value="Reset Password" />
            </form>

            <div class="text-center">
                <div class="d-block small mt-3">
                    @Html.ActionLink("Login Page", "Login")
                </div>
                <div class="d-block small">
                    @Html.ActionLink("Forgot Password?", "ForgotPassword")
                </div>
            </div>
        </div>
    </div>    
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

