﻿@model Tipsi.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}   
 

@*<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS-->
    <link href="~/Content/Dashboard/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="~/Content/Dashboard/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="~/Content/Dashboard/css/sb-admin.css" rel="stylesheet">
</head>

<body class="bg-dark">*@

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <br />
        <div class="container">
            <div class="card card-register mx-auto mt-5">
                <div class="card-header">Register an Account</div>
                <div class="card-body">
                    <form>
                        @Html.ValidationSummary("", new { @class = "text-danger" })


                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-6">
                                    @Html.LabelFor(m => m.UserName, new { @Class = "control-label" })
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Enter username" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(m => m.Email, new { @Class = "control-label" })
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Enter email" })                                    
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-6">
                                    @Html.LabelFor(m => m.Password, new { @Class = "control-label" })
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Enter password" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(m => m.ConfirmPassword, new { @Class = "control-label" })
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm passsword" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("User / Shop", new { @class = "control-label" })
                            <div class="col-md-6">
                                @Html.DropDownList("UserRoles", (SelectList)ViewBag.Name)                                
                            </div>
                        </div>


                        <input type="submit" class="btn btn-primary btn-block" value="Register" />
                    </form>

                    <div class="text-center">
                        <div class="d-block small mt-3">
                            @Html.ActionLink("Login Page", "Login")
                        </div>
                        <div class="d-block small">
                            @Html.ActionLink("Forgot Password?", "ForgotPassword")
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript-->
        <script src="~/Content/Dashboard/vendor/jquery/jquery.min.js"></script>
        <script src="~/Content/Dashboard/vendor/popper/popper.min.js"></script>
        <script src="~/Content/Dashboard/vendor/bootstrap/js/bootstrap.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="~/Content/Dashboard/vendor/jquery-easing/jquery.easing.min.js"></script>

    }

@*</body>
</html>*@


@*@model Tipsi.Models.RegisterViewModel
    @{
        ViewBag.Title = "Register";
    }

    <h2>@ViewBag.Title.</h2>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Create a new account.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("user Role", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">

               @Html.DropDownList("UserRoles", (SelectList)ViewBag.Name, " ")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Register" />
            </div>
        </div>
    }*@

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
