﻿@model Tipsi.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}

<br />
<div class="card card-login mx-auto mt-5">
    <div class="card-header">Reset Password</div>
    <div class="card-body">


        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Code, new { @Value = @ViewBag.Code })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @Value = @ViewBag.Email, @class = "form-control", @readonly = true })
                </div>

            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password)
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Enter password" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>

            </div>
                    <div class="form-group">
                        <div class="form-check">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm password" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <input type="submit" value="Reset" class="btn btn-primary btn-block" />
        }
    </div>
</div>