﻿
@{
    ViewBag.Title = "Blog";
}

<h2>Blog</h2>


<script type="text/javascript" src="~/assets/js/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="~/assets/js/before.load.js"></script> 